@tailwind base;
@tailwind components;
@tailwind utilities;

/* Noto Sans */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Rubik Mono One */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

body {
  background: #111111;
  color: #cccccc;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}

.gradient-box {
  background: transparent;
  padding: 2rem;
  backdrop-filter: blur(1px);
}

.font-sub {
  font-family: 'Rubik Mono One', sans-serif;
}

.input {
  @apply w-[20rem] sm:w-[25rem] md:w-[40rem] lg:w-[30rem] mt-10 shadow appearance-none border border-blue-400 rounded py-4 px-4 mb-3 leading-tight focus:outline-none shadow-blue-400/30 bg-slate-800/75 text-[#eeeeeeea]
}