@tailwind base;
@tailwind components;
@tailwind utilities;

/* Noto Sans */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Rubik Mono One */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

body {
  background: #111;
  color: #cccccc;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

.font-sub {
  font-family: 'Rubik Mono One', sans-serif;
}

.input {
  @apply w-[20rem] sm:w-[25rem] md:w-[30rem] shadow appearance-none border border-blue-400 rounded py-4 px-4 mb-3 leading-tight focus:outline-none shadow-blue-400/20 bg-slate-800/60 text-[#eeeeeeea]
}

.artist-box {
  background: linear-gradient(#222222, #131313);
  padding: 1.5rem;
  @apply drop-shadow-lg rounded-xl backdrop:blur-lg hover:scale-105 duration-300 transition-all hover:drop-shadow-2xl cursor-pointer
}

.artist-box .link {
  @apply hover:underline underline-offset-2 hover:text-blue-300 font-semibold text-2xl md:text-3xl lg:text-4xl text-white/95 tracking-wide transition-all
}

.artist-box .image {
  @apply hover:animate-pulse flex justify-center items-center
}